@import './variables';

.transactions {
	margin-top: 16px;
	height: 450px;

	@media screen and (min-width: 720px) {
		min-height: 648px;
	}

	&-table {
		width: 340px;

		@media screen and (min-width: 720px) {
			width: 700px;
		}

		@media screen and (min-width: 1024px) {
			width: 900px;
		}

		@media screen and (min-width: 1180px) {
			width: 1180px;
		}

		&-headers {
			background-color: $mainBackgroundColor;

			color: $titleTextColor;
			font-family: $mainFontStyle;
			line-height: 1.25;

			@media screen and (min-width: 720px) {
				height: 48px;
			}
		}

		&-sender,
		&-recipients,
		&-value {
			display: none;
			@media screen and (min-width: 1180px) {
				display: table-cell;
			}
		}

		&-min {
			@media screen and (min-width: 1180px) {
				display: none;
			}
		}
		&-normal {
			@media screen and (max-width: 1180px) {
				display: none;
			}
		}
	}

	th {
		font-family: $mainFontStyle;
		font-weight: 400;
		font-size: 9px; //16px
		line-height: 1.25;
		color: $titleTextColor;
		text-align: center;

		padding: 4px 12px;

		&:first-child {
			border-radius: 10px 0 0 0;
		}
		&:last-child {
			border-radius: 0 10px 0 0;
		}

		@media screen and (min-width: 720px) {
			font-size: 14px;
			text-align: start;
		}

		@media screen and (min-width: 1024px) {
			font-size: 16px;
		}
	}

	tr:last-child {
		td {
			&:first-child {
				border-radius: 0 0 0 10px;
			}
			&:last-child {
				border-radius: 0 0 10px 0;
			}
		}
	}

	td {
		padding: 2px 10px;

		text-align: center;
		font-family: $mainFontStyle;
		font-weight: 400;
		font-size: 9px;
		line-height: 1.21;

		@media screen and (min-width: 720px) {
			font-size: 14px;
			text-align: start;
			padding: 4px 12px;
			height: 32px;
		}
	}

	&-data {
		&:nth-child(even) {
			background-color: $rowBackgroundColor;
		}
		&:nth-child(odd) {
			background-color: $borderColor;
		}
	}

	&-link {
		color: $mainBackgroundColor;
	}
}
